@use 'variables' as v;

footer{
    &>i{
        width: 200px;
    }
}

.footer{
    &__logo{
        display: flex;
        justify-content: center;
        & i:not(:last-child){
            margin-right: 13px;
        }
    }
    
}