@use 'variables' as v;
@use 'mixins' as m;

html{
    font-size: 100%;
    box-sizing: border-box;
}
*,*::before,*::after{
    box-sizing: inherit;
}
html,body,h1,h2,h3,h4,p{
    margin: 0;
    padding: 0;
}

i{
    position: relative;
}

body{
    font-family: v.$ff-heading-poppins;
    color: white;
    background-image: url(../images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-color: v.$cl-primary-violet;

    @include m.breakpoints-up(large){
        background-image: url(../images/bg-desktop.svg);
        background-repeat: no-repeat;
    }
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: white solid 1px;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    transition: all 250 ease-in-out;
    &:hover{
        color: v.$cl-primary-sf-magenta;
        border-color: v.$cl-primary-sf-magenta;
        // background-color: v.$cl-primary-sf-magenta;
    }
}