//primary color
$cl-primary-violet: hsl(257, 40%, 49%);
$cl-primary-sf-magenta: hsl(300, 69%, 71%);
//neutral color 

//font-family
$ff-heading-poppins: 'Poppins', sans-serif;
$ff-body-openSans: 'Open Sans', sans-serif;